{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "API Docs for Go Effective Study v1",
    "title": "Go Effective Study",
    "contact": {
      "name": "Phạm Nguyên Cát",
      "url": "httpss://github.com/nguyencatpham",
      "email": "dtpham258@gmail.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "2.0.0"
  },
  "host": "8080-c63bf898-6880-4f61-a146-5ddc2503544c.ws-ap0.gitpod.io",
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Logs in user by username and password.",
        "operationId": "login",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/credentials"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/loginResp"
          },
          "400": {
            "$ref": "#/responses/errMsg"
          },
          "401": {
            "$ref": "#/responses/errMsg"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "404": {
            "$ref": "#/responses/errMsg"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Gets user's info from session.",
        "operationId": "meReq",
        "responses": {
          "200": {
            "$ref": "#/responses/userResp"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      },
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Posts user's info from session.",
        "operationId": "meReq",
        "responses": {
          "200": {
            "$ref": "#/responses/userResp"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      }
    },
    "/refresh/{token}": {
      "get": {
        "description": "Refreshes jwt token by checking at database whether refresh token exists.",
        "tags": [
          "auth"
        ],
        "summary": "Refreshes jwt token.",
        "operationId": "refresh",
        "parameters": [
          {
            "type": "string",
            "description": "refresh token",
            "name": "token",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/refreshResp"
          },
          "400": {
            "$ref": "#/responses/errMsg"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      }
    },
    "/v1/password/{id}": {
      "patch": {
        "description": "If user's old passowrd is correct, it will be replaced with new password.",
        "tags": [
          "password"
        ],
        "summary": "Changes user's password.",
        "operationId": "pwChange",
        "parameters": [
          {
            "type": "int",
            "description": "id of user",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Request body",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pwChange"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ok"
          },
          "400": {
            "$ref": "#/responses/errMsg"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      }
    },
    "/v1/products": {
      "get": {
        "description": "Returns list of products. Depending on the product role requesting it, it may return all products for SuperAdmin/Admin products, all company/location products for Company/Location admins, and an error for non-admin products.",
        "tags": [
          "products"
        ],
        "summary": "Returns list of products.",
        "operationId": "listProducts",
        "parameters": [
          {
            "type": "string",
            "description": "graphql query.To get list :{list(key:\"\"){page,totalItems, data{name,description,type}}}. To get 1 item {result(key:\"\"){name,description,type}}",
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/productListResp"
          },
          "400": {
            "$ref": "#/responses/errMsg"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      },
      "post": {
        "description": "Returns list of products. Depending on the product role requesting it, it may return all products for SuperAdmin/Admin products, all company/location products for Company/Location admins, and an error for non-admin products.",
        "tags": [
          "products"
        ],
        "summary": "Returns product created.",
        "operationId": "productCreate",
        "parameters": [
          {
            "type": "string",
            "description": "graphql query.To get list :{create(name:\"\",description:\"\",type:\"\"){name,description,type}}.",
            "name": "query",
            "in": "query"
          },
          {
            "description": "Request body",
            "name": "mutation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/productListResp"
          },
          "400": {
            "$ref": "#/responses/errMsg"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      }
    },
    "/v1/products/test": {
      "get": {
        "description": "Deletes a product with requested ID.",
        "tags": [
          "products"
        ],
        "summary": "Deletes a product",
        "operationId": "productDelete",
        "parameters": [
          {
            "type": "string",
            "description": "graphql query.To get list :{list(key:\"\"){page,totalItems, data{name,description,type}}}. To get 1 item {result(key:\"\"){name,description,type}}",
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ok"
          },
          "400": {
            "$ref": "#/responses/err"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      }
    },
    "/v1/products/{id}": {
      "delete": {
        "description": "Deletes a product with requested ID.",
        "tags": [
          "products"
        ],
        "summary": "Deletes a product",
        "operationId": "productDelete",
        "parameters": [
          {
            "type": "number",
            "description": "id of product",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ok"
          },
          "400": {
            "$ref": "#/responses/err"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      },
      "patch": {
        "description": "Updates product's contact information -\u003e first name, last name, mobile, phone, address.",
        "tags": [
          "products"
        ],
        "summary": "Updates product's contact information",
        "operationId": "productUpdate",
        "parameters": [
          {
            "description": "Request body",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/productResp"
          },
          "400": {
            "$ref": "#/responses/errMsg"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      }
    },
    "/v1/topics": {
      "get": {
        "description": "Returns list of topics. Depending on the topic role requesting it, it may return all topics for SuperAdmin/Admin topics, all company/location topics for Company/Location admins, and an error for non-admin topics.",
        "tags": [
          "topics"
        ],
        "summary": "Returns list of topics.",
        "operationId": "listTopics",
        "parameters": [
          {
            "type": "string",
            "description": "graphql query.To get list :{list(key:\"\"){page,totalItems, data{name,description,type}}}. To get 1 item {result(key:\"\"){name,description,type}}",
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/topicListResp"
          },
          "400": {
            "$ref": "#/responses/errMsg"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      },
      "post": {
        "description": "Returns list of topics. Depending on the topic role requesting it, it may return all topics for SuperAdmin/Admin topics, all company/location topics for Company/Location admins, and an error for non-admin topics.",
        "tags": [
          "topics"
        ],
        "summary": "Returns topic created.",
        "operationId": "topicCreate",
        "parameters": [
          {
            "type": "string",
            "description": "graphql query.To get list :{create(name:\"\",description:\"\",type:\"\"){name,description,type}}.",
            "name": "query",
            "in": "query"
          },
          {
            "description": "Request body",
            "name": "mutation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/topicCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/topicListResp"
          },
          "400": {
            "$ref": "#/responses/errMsg"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      }
    },
    "/v1/topics/{id}": {
      "delete": {
        "description": "Deletes a topic with requested ID.",
        "tags": [
          "topics"
        ],
        "summary": "Deletes a topic",
        "operationId": "topicDelete",
        "parameters": [
          {
            "type": "number",
            "description": "id of topic",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ok"
          },
          "400": {
            "$ref": "#/responses/err"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      },
      "patch": {
        "description": "Updates topic's contact information -\u003e first name, last name, mobile, phone, address.",
        "tags": [
          "topics"
        ],
        "summary": "Updates topic's contact information",
        "operationId": "topicUpdate",
        "parameters": [
          {
            "description": "Request body",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/topicUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/topicResp"
          },
          "400": {
            "$ref": "#/responses/errMsg"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      }
    },
    "/v1/users": {
      "get": {
        "description": "Returns list of users. Depending on the user role requesting it, it may return all users for SuperAdmin/Admin users, all company/location users for Company/Location admins, and an error for non-admin users.",
        "tags": [
          "users"
        ],
        "summary": "Returns list of users.",
        "operationId": "listUsers",
        "parameters": [
          {
            "type": "int",
            "description": "number of results",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "int",
            "description": "page number",
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/userListResp"
          },
          "400": {
            "$ref": "#/responses/errMsg"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      },
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Creates new user account.",
        "operationId": "userCreate",
        "responses": {
          "200": {
            "$ref": "#/responses/userResp"
          },
          "400": {
            "$ref": "#/responses/errMsg"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/errMsg"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      }
    },
    "/v1/users/{id}": {
      "get": {
        "description": "Returns a single user by its ID.",
        "tags": [
          "users"
        ],
        "summary": "Returns a single user.",
        "operationId": "getUser",
        "parameters": [
          {
            "type": "int",
            "description": "id of user",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/userResp"
          },
          "400": {
            "$ref": "#/responses/err"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "404": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      },
      "delete": {
        "description": "Deletes a user with requested ID.",
        "tags": [
          "users"
        ],
        "summary": "Deletes a user",
        "operationId": "userDelete",
        "parameters": [
          {
            "type": "int",
            "description": "id of user",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ok"
          },
          "400": {
            "$ref": "#/responses/err"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      },
      "patch": {
        "description": "Updates user's contact information -\u003e first name, last name, mobile, phone, address.",
        "tags": [
          "users"
        ],
        "summary": "Updates user's contact information",
        "operationId": "userUpdate",
        "parameters": [
          {
            "type": "int",
            "description": "id of user",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Request body",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/userUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/userResp"
          },
          "400": {
            "$ref": "#/responses/errMsg"
          },
          "401": {
            "$ref": "#/responses/err"
          },
          "403": {
            "$ref": "#/responses/err"
          },
          "500": {
            "$ref": "#/responses/err"
          }
        }
      }
    }
  },
  "definitions": {
    "AccessRole": {
      "description": "AccessRole represents access role type",
      "type": "integer",
      "format": "int64",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "Catalog": {
      "description": "Catalog represents topic for english lesson model",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "x-go-name": "Content"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "CreatedAt"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "DeletedAt"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "language": {
          "$ref": "#/definitions/Language"
        },
        "language_id": {
          "type": "integer",
          "format": "int8",
          "x-go-name": "LanguageID"
        },
        "localize_id": {
          "type": "string",
          "x-go-name": "LocalizeID"
        },
        "menu_order": {
          "type": "integer",
          "format": "int8",
          "x-go-name": "MenuOrder"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product"
          },
          "x-go-name": "Products"
        },
        "slug": {
          "type": "string",
          "x-go-name": "Slug"
        },
        "tags": {
          "type": "string",
          "x-go-name": "Tags"
        },
        "title": {
          "type": "string",
          "x-go-name": "Title"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "UpdatedAt"
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "Category": {
      "description": "Category represents topic for english lesson model",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "x-go-name": "Content"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "CreatedAt"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "DeletedAt"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "language": {
          "$ref": "#/definitions/Language"
        },
        "language_id": {
          "type": "integer",
          "format": "int8",
          "x-go-name": "LanguageID"
        },
        "localize_id": {
          "type": "string",
          "x-go-name": "LocalizeID"
        },
        "menu_order": {
          "type": "integer",
          "format": "int8",
          "x-go-name": "MenuOrder"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "posts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Post"
          },
          "x-go-name": "Posts"
        },
        "slug": {
          "type": "string",
          "x-go-name": "Slug"
        },
        "tags": {
          "type": "string",
          "x-go-name": "Tags"
        },
        "title": {
          "type": "string",
          "x-go-name": "Title"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "UpdatedAt"
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "HTTP": {
      "description": "HTTP represents user https service",
      "type": "object",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/user/transport"
    },
    "Language": {
      "description": "Language represents topic for english lesson model",
      "type": "object",
      "properties": {
        "culture": {
          "type": "string",
          "x-go-name": "Culture"
        },
        "flag_image_url": {
          "type": "string",
          "x-go-name": "FlagImageURL"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "is_enable": {
          "type": "boolean",
          "x-go-name": "IsEnable"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "post": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Post"
          },
          "x-go-name": "Posts"
        },
        "rl": {
          "type": "boolean",
          "x-go-name": "Rtl"
        },
        "unique_seo_code": {
          "type": "string",
          "x-go-name": "UniqueSeoCode"
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "Post": {
      "description": "Post represents topic for english lesson model",
      "type": "object",
      "properties": {
        "allow_comment": {
          "type": "boolean",
          "x-go-name": "AllowComment"
        },
        "category": {
          "$ref": "#/definitions/Category"
        },
        "category_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "CategoryID"
        },
        "comment_count": {
          "type": "integer",
          "format": "int16",
          "x-go-name": "CommentCount"
        },
        "content": {
          "type": "string",
          "x-go-name": "Content"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "CreatedAt"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "DeletedAt"
        },
        "guid": {
          "type": "string",
          "x-go-name": "GUID"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "language": {
          "$ref": "#/definitions/Language"
        },
        "language_id": {
          "type": "integer",
          "format": "int8",
          "x-go-name": "LanguageID"
        },
        "localize_post_id": {
          "type": "string",
          "x-go-name": "LocalizePostID"
        },
        "menu_order": {
          "type": "integer",
          "format": "int8",
          "x-go-name": "MenuOrder"
        },
        "mine_type": {
          "type": "string",
          "x-go-name": "MineType"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "parent_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ParentID"
        },
        "password": {
          "type": "string",
          "x-go-name": "Password"
        },
        "post_metas": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PostMeta"
          },
          "x-go-name": "PostMetas"
        },
        "slug": {
          "type": "string",
          "x-go-name": "Slug"
        },
        "status": {
          "$ref": "#/definitions/PostStatus"
        },
        "tags": {
          "type": "string",
          "x-go-name": "Tags"
        },
        "title": {
          "type": "string",
          "x-go-name": "Title"
        },
        "type": {
          "$ref": "#/definitions/PostType"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "UpdatedAt"
        },
        "user_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Author"
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "PostMeta": {
      "description": "PostMeta represents topic for english lesson model",
      "type": "object",
      "properties": {
        "created_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "CreatedAt"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "DeletedAt"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "key": {
          "type": "integer",
          "format": "int8",
          "x-go-name": "Key"
        },
        "post": {
          "$ref": "#/definitions/Post"
        },
        "post_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "PostID"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "UpdatedAt"
        },
        "value": {
          "type": "integer",
          "format": "int16",
          "x-go-name": "Value"
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "PostStatus": {
      "description": "PostStatus represents type of topic",
      "type": "integer",
      "format": "int64",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "PostType": {
      "description": "PostType represents type of topic",
      "type": "integer",
      "format": "int64",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "Product": {
      "description": "Product represents topic for english lesson model",
      "type": "object",
      "properties": {
        "alternateName": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "AlternateName"
        },
        "catalog": {
          "$ref": "#/definitions/Catalog"
        },
        "catalog_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "CatalogID"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "CreatedAt"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "DeletedAt"
        },
        "description": {
          "type": "string",
          "x-go-name": "Description"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "imageUrl": {
          "type": "string",
          "x-go-name": "ImageURL"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "note": {
          "type": "boolean",
          "x-go-name": "Note"
        },
        "numOfArticles": {
          "type": "string",
          "x-go-name": "NumOfArticles"
        },
        "numOfImages": {
          "type": "string",
          "x-go-name": "NumOfImages"
        },
        "price": {
          "type": "integer",
          "format": "int8",
          "x-go-name": "Price"
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Quantity"
        },
        "regularPrice": {
          "type": "string",
          "x-go-name": "RegularPrice"
        },
        "saleOff": {
          "type": "integer",
          "format": "int16",
          "x-go-name": "SaleOff"
        },
        "size": {
          "type": "integer",
          "format": "int8",
          "x-go-name": "Size"
        },
        "sku": {
          "type": "string",
          "x-go-name": "Sku"
        },
        "slug": {
          "type": "string",
          "x-go-name": "Slug"
        },
        "status": {
          "$ref": "#/definitions/ProductStatus"
        },
        "tags": {
          "type": "string",
          "x-go-name": "Tags"
        },
        "thumbnailSrc": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ThumbnailSrc"
        },
        "unit": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Unit"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "UpdatedAt"
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "ProductStatus": {
      "description": "ProductStatus represents type of topic",
      "type": "string",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "Role": {
      "description": "Role model",
      "type": "object",
      "properties": {
        "access_level": {
          "$ref": "#/definitions/AccessRole"
        },
        "id": {
          "$ref": "#/definitions/AccessRole"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "Topic": {
      "description": "Topic represents topic for english lesson model",
      "type": "object",
      "properties": {
        "created_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "CreatedAt"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "DeletedAt"
        },
        "description": {
          "type": "string",
          "x-go-name": "Description"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "topic_details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TopicDetail"
          },
          "x-go-name": "TopicDetails"
        },
        "type": {
          "$ref": "#/definitions/TopicType"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "UpdatedAt"
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "TopicDetail": {
      "description": "TopicDetail represents topic for english lesson model",
      "type": "object",
      "properties": {
        "created_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "CreatedAt"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "DeletedAt"
        },
        "description": {
          "type": "string",
          "x-go-name": "Description"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "topic": {
          "$ref": "#/definitions/Topic"
        },
        "topic_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "TopicID"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "UpdatedAt"
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "TopicType": {
      "description": "TopicType represents type of topic",
      "type": "integer",
      "format": "int64",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "User": {
      "description": "User represents user domain model",
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "x-go-name": "Active"
        },
        "address": {
          "type": "string",
          "x-go-name": "Address"
        },
        "company_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "CompanyID"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "CreatedAt"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "DeletedAt"
        },
        "email": {
          "type": "string",
          "x-go-name": "Email"
        },
        "first_name": {
          "type": "string",
          "x-go-name": "FirstName"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "last_login": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "LastLogin"
        },
        "last_name": {
          "type": "string",
          "x-go-name": "LastName"
        },
        "last_password_change": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "LastPasswordChange"
        },
        "location_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "LocationID"
        },
        "mobile": {
          "type": "string",
          "x-go-name": "Mobile"
        },
        "phone": {
          "type": "string",
          "x-go-name": "Phone"
        },
        "role": {
          "$ref": "#/definitions/Role"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "UpdatedAt"
        },
        "username": {
          "type": "string",
          "x-go-name": "Username"
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/utl/model"
    },
    "credentials": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "x-go-name": "Password"
        },
        "username": {
          "type": "string",
          "x-go-name": "Username"
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/auth/transport"
    },
    "list": {
      "description": "Product list request",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product"
          },
          "x-go-name": "Data"
        },
        "page": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Page"
        },
        "totalItems": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "TotalItems"
        }
      },
      "x-go-name": "listResponse",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/product/transport"
    },
    "listResponse": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Page"
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/User"
          },
          "x-go-name": "Users"
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/user/transport"
    },
    "productCreate": {
      "description": "Product create request",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "x-go-name": "Description"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        }
      },
      "x-go-name": "createReq",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/product/transport"
    },
    "productUpdate": {
      "description": "UpdateReq update request",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "x-go-name": "Description"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "type": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Type"
        }
      },
      "x-go-name": "updateReq",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/product/transport"
    },
    "pwChange": {
      "description": "Password change request",
      "type": "object",
      "properties": {
        "new_password": {
          "type": "string",
          "x-go-name": "NewPassword"
        },
        "new_password_confirm": {
          "type": "string",
          "x-go-name": "NewPasswordConfirm"
        },
        "old_password": {
          "type": "string",
          "x-go-name": "OldPassword"
        }
      },
      "x-go-name": "changeReq",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/password/transport"
    },
    "swaggProductListResponse": {
      "description": "Products model response",
      "type": "object",
      "properties": {
        "Body": {
          "description": "in:body",
          "type": "object",
          "properties": {
            "page": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "Page"
            },
            "products": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Product"
              },
              "x-go-name": "Products"
            }
          }
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/product/transport"
    },
    "swaggProductResponse": {
      "description": "Product model response",
      "type": "object",
      "properties": {
        "Body": {
          "description": "in:body",
          "type": "object",
          "properties": {
            "alternateName": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "AlternateName"
            },
            "catalog": {
              "$ref": "#/definitions/Catalog"
            },
            "catalog_id": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "CatalogID"
            },
            "created_at": {
              "type": "string",
              "format": "date-time",
              "x-go-name": "CreatedAt"
            },
            "deleted_at": {
              "type": "string",
              "format": "date-time",
              "x-go-name": "DeletedAt"
            },
            "description": {
              "type": "string",
              "x-go-name": "Description"
            },
            "id": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "ID"
            },
            "imageUrl": {
              "type": "string",
              "x-go-name": "ImageURL"
            },
            "name": {
              "type": "string",
              "x-go-name": "Name"
            },
            "note": {
              "type": "boolean",
              "x-go-name": "Note"
            },
            "numOfArticles": {
              "type": "string",
              "x-go-name": "NumOfArticles"
            },
            "numOfImages": {
              "type": "string",
              "x-go-name": "NumOfImages"
            },
            "price": {
              "type": "integer",
              "format": "int8",
              "x-go-name": "Price"
            },
            "quantity": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "Quantity"
            },
            "regularPrice": {
              "type": "string",
              "x-go-name": "RegularPrice"
            },
            "saleOff": {
              "type": "integer",
              "format": "int16",
              "x-go-name": "SaleOff"
            },
            "size": {
              "type": "integer",
              "format": "int8",
              "x-go-name": "Size"
            },
            "sku": {
              "type": "string",
              "x-go-name": "Sku"
            },
            "slug": {
              "type": "string",
              "x-go-name": "Slug"
            },
            "status": {
              "$ref": "#/definitions/ProductStatus"
            },
            "tags": {
              "type": "string",
              "x-go-name": "Tags"
            },
            "thumbnailSrc": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "ThumbnailSrc"
            },
            "unit": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "Unit"
            },
            "updated_at": {
              "type": "string",
              "format": "date-time",
              "x-go-name": "UpdatedAt"
            }
          }
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/product/transport"
    },
    "swaggTopicListResponse": {
      "description": "Topics model response",
      "type": "object",
      "properties": {
        "Body": {
          "description": "in:body",
          "type": "object",
          "properties": {
            "page": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "Page"
            },
            "topics": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Topic"
              },
              "x-go-name": "Topics"
            }
          }
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/topic/transport"
    },
    "swaggTopicResponse": {
      "description": "Topic model response",
      "type": "object",
      "properties": {
        "Body": {
          "description": "in:body",
          "type": "object",
          "properties": {
            "created_at": {
              "type": "string",
              "format": "date-time",
              "x-go-name": "CreatedAt"
            },
            "deleted_at": {
              "type": "string",
              "format": "date-time",
              "x-go-name": "DeletedAt"
            },
            "description": {
              "type": "string",
              "x-go-name": "Description"
            },
            "id": {
              "type": "integer",
              "format": "int64",
              "x-go-name": "ID"
            },
            "name": {
              "type": "string",
              "x-go-name": "Name"
            },
            "topic_details": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TopicDetail"
              },
              "x-go-name": "TopicDetails"
            },
            "type": {
              "$ref": "#/definitions/TopicType"
            },
            "updated_at": {
              "type": "string",
              "format": "date-time",
              "x-go-name": "UpdatedAt"
            }
          }
        }
      },
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/topic/transport"
    },
    "topicCreate": {
      "description": "Topic create request",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "x-go-name": "Description"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "type": {
          "$ref": "#/definitions/TopicType"
        }
      },
      "x-go-name": "createReq",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/topic/transport"
    },
    "topicUpdate": {
      "description": "UpdateReq update request",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "x-go-name": "Description"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "type": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Type"
        }
      },
      "x-go-name": "updateReq",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/topic/transport"
    },
    "userCreate": {
      "description": "User create request",
      "type": "object",
      "properties": {
        "company_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "CompanyID"
        },
        "email": {
          "type": "string",
          "x-go-name": "Email"
        },
        "first_name": {
          "type": "string",
          "x-go-name": "FirstName"
        },
        "last_name": {
          "type": "string",
          "x-go-name": "LastName"
        },
        "location_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "LocationID"
        },
        "password": {
          "type": "string",
          "x-go-name": "Password"
        },
        "password_confirm": {
          "type": "string",
          "x-go-name": "PasswordConfirm"
        },
        "role_id": {
          "$ref": "#/definitions/AccessRole"
        },
        "username": {
          "type": "string",
          "x-go-name": "Username"
        }
      },
      "x-go-name": "createReq",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/user/transport"
    },
    "userUpdate": {
      "description": "User update request",
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "x-go-name": "Address"
        },
        "first_name": {
          "type": "string",
          "x-go-name": "FirstName"
        },
        "last_name": {
          "type": "string",
          "x-go-name": "LastName"
        },
        "mobile": {
          "type": "string",
          "x-go-name": "Mobile"
        },
        "phone": {
          "type": "string",
          "x-go-name": "Phone"
        }
      },
      "x-go-name": "updateReq",
      "x-go-package": "github.com/nguyencatpham/go-effective-study/pkg/api/user/transport"
    }
  },
  "responses": {
    "err": {
      "description": "Error response"
    },
    "errMsg": {
      "description": "Error response with message",
      "headers": {
        "message": {
          "type": "string"
        }
      }
    },
    "loginResp": {
      "description": "Login response",
      "schema": {
        "type": "object",
        "properties": {
          "expires": {
            "type": "string",
            "x-go-name": "Expires"
          },
          "refresh_token": {
            "type": "string",
            "x-go-name": "RefreshToken"
          },
          "token": {
            "type": "string",
            "x-go-name": "Token"
          }
        }
      }
    },
    "ok": {
      "description": "Success response"
    },
    "productListResp": {
      "description": "Products model response",
      "schema": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Page"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Product"
            },
            "x-go-name": "Products"
          }
        }
      }
    },
    "productResp": {
      "description": "Product model response",
      "schema": {
        "type": "object",
        "properties": {
          "alternateName": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "AlternateName"
          },
          "catalog": {
            "$ref": "#/definitions/Catalog"
          },
          "catalog_id": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "CatalogID"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "x-go-name": "CreatedAt"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "x-go-name": "DeletedAt"
          },
          "description": {
            "type": "string",
            "x-go-name": "Description"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "ID"
          },
          "imageUrl": {
            "type": "string",
            "x-go-name": "ImageURL"
          },
          "name": {
            "type": "string",
            "x-go-name": "Name"
          },
          "note": {
            "type": "boolean",
            "x-go-name": "Note"
          },
          "numOfArticles": {
            "type": "string",
            "x-go-name": "NumOfArticles"
          },
          "numOfImages": {
            "type": "string",
            "x-go-name": "NumOfImages"
          },
          "price": {
            "type": "integer",
            "format": "int8",
            "x-go-name": "Price"
          },
          "quantity": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Quantity"
          },
          "regularPrice": {
            "type": "string",
            "x-go-name": "RegularPrice"
          },
          "saleOff": {
            "type": "integer",
            "format": "int16",
            "x-go-name": "SaleOff"
          },
          "size": {
            "type": "integer",
            "format": "int8",
            "x-go-name": "Size"
          },
          "sku": {
            "type": "string",
            "x-go-name": "Sku"
          },
          "slug": {
            "type": "string",
            "x-go-name": "Slug"
          },
          "status": {
            "$ref": "#/definitions/ProductStatus"
          },
          "tags": {
            "type": "string",
            "x-go-name": "Tags"
          },
          "thumbnailSrc": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "ThumbnailSrc"
          },
          "unit": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Unit"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "x-go-name": "UpdatedAt"
          }
        }
      }
    },
    "refreshResp": {
      "description": "Token refresh response",
      "schema": {
        "type": "object",
        "properties": {
          "expires": {
            "type": "string",
            "x-go-name": "Expires"
          },
          "token": {
            "type": "string",
            "x-go-name": "Token"
          }
        }
      }
    },
    "topicListResp": {
      "description": "Topics model response",
      "schema": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Page"
          },
          "topics": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Topic"
            },
            "x-go-name": "Topics"
          }
        }
      }
    },
    "topicResp": {
      "description": "Topic model response",
      "schema": {
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time",
            "x-go-name": "CreatedAt"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "x-go-name": "DeletedAt"
          },
          "description": {
            "type": "string",
            "x-go-name": "Description"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "ID"
          },
          "name": {
            "type": "string",
            "x-go-name": "Name"
          },
          "topic_details": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/TopicDetail"
            },
            "x-go-name": "TopicDetails"
          },
          "type": {
            "$ref": "#/definitions/TopicType"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "x-go-name": "UpdatedAt"
          }
        }
      }
    },
    "userListResp": {
      "description": "Users model response",
      "schema": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Page"
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/User"
            },
            "x-go-name": "Users"
          }
        }
      }
    },
    "userResp": {
      "description": "User model response",
      "schema": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean",
            "x-go-name": "Active"
          },
          "address": {
            "type": "string",
            "x-go-name": "Address"
          },
          "company_id": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "CompanyID"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "x-go-name": "CreatedAt"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "x-go-name": "DeletedAt"
          },
          "email": {
            "type": "string",
            "x-go-name": "Email"
          },
          "first_name": {
            "type": "string",
            "x-go-name": "FirstName"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "ID"
          },
          "last_login": {
            "type": "string",
            "format": "date-time",
            "x-go-name": "LastLogin"
          },
          "last_name": {
            "type": "string",
            "x-go-name": "LastName"
          },
          "last_password_change": {
            "type": "string",
            "format": "date-time",
            "x-go-name": "LastPasswordChange"
          },
          "location_id": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "LocationID"
          },
          "mobile": {
            "type": "string",
            "x-go-name": "Mobile"
          },
          "phone": {
            "type": "string",
            "x-go-name": "Phone"
          },
          "role": {
            "$ref": "#/definitions/Role"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "x-go-name": "UpdatedAt"
          },
          "username": {
            "type": "string",
            "x-go-name": "Username"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "bearer": [
        "[]"
      ]
    }
  ]
}